body {
  background-image: linear-gradient(#40e0d0, #FFFF81);
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-repeat: no-repeat;
  background-size: cover;
}
mark {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

header {
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
}

header p {
  font-family:  Garamond;
  margin: 0;
  padding: 0;
}

#about {
  font-family:  Garamond;
  padding: 20px;
  text-align: center;
}
#about h2{
  text-decoration: underline;
}
#skills h2{
  text-decoration: underline;
}
#projects h2{
  text-decoration: underline;
}
#projects p{
  font-family:  Garamond;
}
#contact h2{
  text-decoration: underline;
}
#resume h2{
  text-decoration: underline;
}
#about img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

#skills {
  padding: 20px;
}

#skills ul {
  list-style-type: none;
  padding: 0;
}

#skills li {
  padding: 5px;
}

#projects {
  padding: 20px;
}

#projects .project {
  margin-bottom: 20px;
}

#projects img {
    background-position: left;
    width: 100%;
    height: auto;
}

#resume {
    padding: 20px;
    text-align: center;
}

#contact {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
    padding: 0;
}

footer ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

footer li {
    margin: 0 10px;
}